.bg-inicio {
  background-image: url('../assets/bg-inicio.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 800px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero-home {
  max-width: 1260px;
  margin: 0 auto 120px auto;
  padding: 40px;
}

.hero-home h1 {
  font-family: "Lobster", sans-serif;
  color: #fff;
  font-size: 96px;
  line-height: 96px;
  margin-bottom: 40px;
  text-align: center;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.hero-home p {
  color: #A8A8A8;
  font-size: 20px;
  line-height: 30px;
  font-family: "Open Sans", sans-serif;
  max-width: 863px;
  margin: 0 auto 40px auto;
  text-align: center;
}

.hero-home a {
  color: #fafafa;
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  font-weight: 700;
  padding: 20px 40px;
  margin: 0 auto;
  background: linear-gradient(#9A3A25, #79220F);
  border-radius: 20px;
  transition: .4s;
  display: block;
  text-align: center;
  max-width: 250px;
}

.hero-home a:hover {
  opacity: .5;
}

@media (max-width:1050px) {
  .hero-home h1 {
    font-size: 72px;
    max-width: 740px;
    line-height: 72px;
    margin-bottom: 20px;
  }
}

@media (max-width:800px) {
  .hero-home h1 {
    font-size: 56px;
    line-height: 64px;
    max-width: 550px;
    margin-bottom: 20px;
  }

  .hero-home p {
    font-size: 18px;
    line-height: 27px;
  }
}

@media (max-width:650px) {
  .hero-home h1 {
    font-size: 40px;
    line-height: 45px;
    max-width: 550px;
    margin-bottom: 20px;
  }

  .hero-home p {
    font-size: 16px;
    line-height: 24px;
  }

  .hero-home a {
    font-size: 24px;
    max-width: 180px;
  }
}

.porque-nos-escolher {
  background-color: #fff;
  padding: 40px;
  max-width: 1260px;
  margin: 0 auto;
}

.porque-nos-escolher ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.porque-nos-escolher ul li {
  flex: 1;
  background: linear-gradient(#FFE4DE, #FDC7BB);
  padding: 40px;
  height: 230px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.porque-nos-escolher ul li img {
  margin: 0 auto 20px auto;
  width: 60px;
  display: block;
}

.porque-nos-escolher ul li h3 {
  font-weight: 600;
  font-size: 24px;
  color: #2e2e2e;
  font-family: "Open Sans", sans-serif;
  max-width: 200px;
  margin: 0 auto 10px auto;
  text-align: center;
}

.porque-nos-escolher ul li p {
  color: #A8A8A8;
  font-size: 16px;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.nossas-opcoes {
  max-width: 1260px;
  margin: 0 auto;
  padding: 40px;
}

.nossas-opcoes ul {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  min-width: 300px;
}

.nossas-opcoes ul li {
  flex: 1;
  min-width: 450px;
  border-radius: 20px;
}

.nossas-opcoes ul li a {
  position: relative;
  height: 350px;
  display: flex;
  width:100% ;
  align-items: end;
  border-radius: 20px;
}

.nossas-opcoes ul li img {
  position: absolute;
  width: 100%;
  border-radius: 20px;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.nossas-opcoes ul li p {
  background-color: #79220F;
  color: #fff;
  padding: 20px;
  width: 100%;
  text-align: center;
  font-size: 64px;
  font-family: "Lobster", sans-serif;
}

@media (max-width: 1200px) {
  .nossas-opcoes ul li p {
    font-size: 54px;
  }
}

@media (max-width: 768px) {
  .nossas-opcoes ul {
    min-width: none;
  }

  .nossas-opcoes ul li {
    min-width: 300px;
    width: 100%;
  }

  .nossas-opcoes ul li p {
    font-size: 42px;
  }
}

@media (max-width:500px) {
  .nossas-opcoes ul {
    min-width: 200px;
    gap: 40px;
  }

  .nossas-opcoes ul li {
    min-width: 200px;
  }

  .nossas-opcoes ul li p {
    font-size: 32px;
  }
}